@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.content{
    display: none;
}

.preloader {
    width: 100vw;
    height: 100vh;
    position: fixed; 
    top: 0; 
    left: 0; 
    background: #16191e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.preloader > div {
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

.navbar{
    height: 12vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.logo{
    width: 30vw;
    display: flex;
    justify-content: center;
}

.logo img{
    height: 50px;
}

nav{
    width: calc(100vw - 30vw - 20px - 20px);
    font-size: 15px;
    font-weight: 500;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

nav ul .middle-nav{
    display: flex;
    gap: 30px;
    width: 50%;
    justify-content: center;
}

nav ul .middle-nav li{
    list-style: none;
}

nav ul .middle-nav li::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: rgb(199, 48, 65);
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul .middle-nav li:hover:after{
    width: 100%;
}

nav ul .middle-nav li a{
    text-decoration: none;
    color: black;
}

nav ul .right-nav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 50px;
}

nav ul .right-nav li{
    list-style: none;
}

nav ul .right-nav li a{
    text-decoration: none;
    color: black;
}

#nav-btn{
    padding: 6px 18px;
    border: 2px solid black;
    border-radius: 30px;
}

#nav-btn:hover{
    background-color: rgb(199, 48, 65);
    color: #fff;
    border: none;
    transition: 0.5s;
}

.fa-magnifying-glass:hover{
    color: rgb(199, 48, 65);
    transition: 0.5s;
}

.home-container{
    background: linear-gradient(to bottom, #d68b8b, #fff);
    height: calc(100vh - 12vh);
    padding: 5% 8%;
    display: flex;
}

.home-left{
    width: 50%;
    padding: 80px 10px;
}

.home-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
            position: relative;
            /* width: 100%; */
            /* height: auto; */
            overflow: hidden;
}

.home-right img{
    transform: rotateX(-12deg) rotateY(150deg) rotateZ(5deg);
    width: 600px;
            position: absolute;
            /* width: 100%; */
            /* height: auto; */
            opacity: 0;
            transition: opacity 1s ease-in-out;
}

.home-right img.active{
    
    opacity: 1;
    
}



.home-left h1{
    font-family: "Lato", sans-serif;
    font-size: 40px;
}

.home-btn{
    padding: 12px 24px;
    border-radius: 30px;
    background: none;
    margin: 15px 0px;
    background: rgb(199, 48, 65);
    color: white;
    font-weight: 500;
    border: 2px solid rgb(112, 8, 20);
}

.home-btn a{
    color: white;
    text-decoration: none;
}

.home-btn:hover {
    background-color: #fff;
    color: black;
    transition: 0.5s;
}

.home-btn:hover a{
    color: black;
    transition: 0.5s;
}


.fa-arrow-right{
    font-size: 13px;
    margin-left: 4px;
}

.signup-container{
    background: linear-gradient(to bottom, #d68b8b, #fff);
    height: calc(100vh - 12vh);
    padding: 5% 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.signup-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 27vw;
    height: 80vh;
    background-color: #fff;
    border-radius: 5px;
    padding-top: 20px;
    /* position: relative; */
    text-align: center;
}

.signup-input{
    padding: 7px 50px;
    border: 2px solid black;
    border-radius: 5px;
    width: 14vw;
    height: 5vh;
    padding: 4px
    /* position: relative; */
}

.form-group{
    position: relative;
    width: 18vw;
    margin: 25px 0;
}

.form-group i, .form-group label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* font-size: 1rem; */
    /* text-transform: capitalize;
    color: aqua;
    padding: 0 .2rem;
    pointer-events: none;
    transition: all .5s ease; */
}

.form-group i{
    left: 1rem;
}

.form-group label{
    left: 2.5rem;
    font-size: 15px;
}

/* .signup-box .form-group input:focus~label,
.signup-box .form-group input:valid~label,
.signup-box .form-group input:focus~i,
.signup-box .form-group input:valid~i {
    top: 0 !important;
    font-size: 12px !important;
    background-color: white;
    margin: 1rem 0;
} */

/* .signup-input::placeholder{
    pad: 0px;
    font-weight: 500;
    transform: translateX(-40px);
} */

.signup-btn{
    padding: 5px 108px;
    border-radius: 5px;
    background: linear-gradient(to right, #E84545, #903749);
    color: white;
    font-weight: 600;
    border: 2px solid rgb(112, 8, 20);
    cursor: pointer;
}

.signup-btn:hover{
    background: linear-gradient(to right, #FFAAAA, #FF7777);
    color: black;
    transition: 0.5s;
}

.accountcheck1{
    font-size: 14px;
    margin: 10px 0px 30px 0px;
}

.accountcheck1 a{
    color: #E84545;
    text-decoration: none;
    font-weight: 500;
}

/* .sign-icon{
    position: absolute;
    top: 50%;
    /* left: 10px; Position the icon inside the input */
    /*transform: translateY(-50%);
    color: black;
    font-size: 15px;
} */

.message-success {
    color: green;
    font-size: 16px;
    margin-bottom: 15px;
}
.message-error {
    color: red;
    font-size: 16px;
    margin-bottom: 15px;
}