<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Airline Reservation System</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="preloader">
        <div></div>
    </div>
    {{#if success}}
        <p style="color: green;">{{success}}</p>
    {{/if}}
    <div class="content">
        <header class="navbar">
            <div class="logo">
                <img src="images/logo.png" alt="logo">
            </div>
            <nav>
                <ul>
                    <div class="middle-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Contact</a></li>
                    </div>
                    <div class="right-nav">
                        <li><a href="/login" id="nav-btn">Login</a></li>
                        <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    </div>
                </ul>
            </nav>
        </header>
        <main class="home-container">
            <div class="home-left">
                <h1>Fly with ease,<br>book with confidence –<br>your adventure starts here!</h1>
                <button class="home-btn" type="submit">
                    <a href="/signup">Register Here</a><i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
            <div class="home-right">
                <img class="active" src="/images/aero1.png" alt="Aero Image" id="aero-image-1">
                <img src="/images/aero2.png" alt="Aero Image" id="aero-image-2">
                <img src="/images/aero3.png" alt="Aero Image" id="aero-image-3">
                <img src="/images/aero4.png" alt="Aero Image" id="aero-image-4">
                <img src="/images/aero5.png" alt="Aero Image" id="aero-image-5">
            </div>
        </main>
    </div>

    <script>
        $(window).on('load', function() {
            $(".preloader").fadeOut(2000);
            $(".content").fadeIn(2000);
        });

        const images = document.querySelectorAll('.home-right img');
        let currentIndex = 0;

        function changeImage() {
            images[currentIndex].classList.remove('active');
            currentIndex = (currentIndex + 1) % images.length;
            images[currentIndex].classList.add('active');
        }

        setInterval(changeImage, 3000);
    </script>
</body>
</html>